Repository lotva/corvette-starter: changes, and which lefthook commands are due for each by the changed paths.
All: lint-styles, lint-scripts, format

lint-styles:
  run: pnpm exec stylelint --fix {staged_files}
  stage_fixed: true

lint-scripts:
  run: pnpm exec oxlint --fix {staged_files} && pnpm exec eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

ci: add GitHub workflows for code formatting, linting, and type-checking
  .github/workflows/check-formatting.yaml
  .github/workflows/check-scripts.yaml
  .github/workflows/check-styles.yaml
  .github/workflows/check-types.yaml
Due: format

fix: add type-checking dependencies
  package.json
  pnpm-lock.yaml
Due: format

fix(vscode): prevent double formatting
  .vscode/settings.json
Due: format

feat: modernize global styles
  layers/base/app/core/assets/styles/globals/interpolate-size.css
  layers/base/app/core/assets/styles/globals/theme.css
  layers/base/app/core/assets/styles/globals/typography.css
  layers/base/app/core/assets/styles/index.css
  stylelint.config.js
Due: lint-styles, format

chore: update dependencies
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: lint-scripts, format

docs: list technologies
  README.md
Due: none

chore: configure Vitest
  .nuxtrc
  eslint.config.mjs
  layers/base/app/assets/styles/globals/box-sizing.css
  layers/base/app/assets/styles/globals/interpolate-size.css
  layers/base/app/assets/styles/globals/page.css
  layers/base/app/assets/styles/globals/theme.css
  layers/base/app/assets/styles/globals/typography.css
  layers/base/app/assets/styles/index.css
  layers/base/app/assets/styles/utils/clickable-area.css
  layers/base/app/assets/styles/utils/visually-hidden.css
  layers/base/app/pages/index.vue
  layers/base/app/views/index/IndexPage.spec.browser.ts
  layers/base/app/views/index/IndexPage.spec.e2e.ts
  layers/base/app/views/index/IndexPage.spec.ts
  layers/base/app/views/index/IndexPage.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: lint-styles, lint-scripts, format

ci: add testing workflow
  .github/workflows/test.yaml
Due: format

Path conditions:
  lint-styles: any of: *.{vue,css}
  lint-scripts: any of: *.{vue,ts}
  format: any of: *.{vue,ts,json,css,yaml,html}
